<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Xcode.CustomAlertEvents</key>
	<array>
		<dict>
			<key>title</key>
			<string>Open project in Finder</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/current_project_folder_from_xcode/open_finder.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>E2C04760-B554-402C-B1E4-B23F90F264A2-16954-00009988CEDA74D0</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Open project in Terminal</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/current_project_folder_from_xcode/open_terminal.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>A303DBD6-4C0D-42F5-9FC6-575E23F60F2A-16954-000099961841DAAB</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Open project on SourceTree</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/current_project_folder_from_xcode/open_stree.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>BDC2996A-B0E6-4B42-990D-42846B317AA6-16954-0000999B9C2DE9D1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Clean derived data for project</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/derived_data_from_xcode/remove_current.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>0812CCB7-249E-4B89-9333-09CA4BFD455A-16954-000099A08173A79E</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Clean derived data for all</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/derived_data_from_xcode/remove_all.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>99DAA590-2F5E-4633-A642-4C7CA92C6BFB-16954-000099A85006CB3F</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Open derived data</string>
			<key>alerts</key>
			<dict>
				<key>Xcode.Alert.ShowUtilityArea</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowToolbar</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.FirstIssue</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>destination</key>
					<string>firstIssue</string>
				</dict>
				<key>Xcode.Alert.Dialog</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
				<key>Xcode.Alert.ShowEditor</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<integer>0</integer>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowTab</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>tabTarget</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.Speech</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>voice</key>
					<string>com.apple.speech.synthesis.voice.Alex</string>
				</dict>
				<key>Xcode.Alert.RunScript</key>
				<dict>
					<key>enabled</key>
					<true/>
					<key>path</key>
					<string>($HOME)/dev/misc/tools/xcode_behaviors/derived_data_from_xcode/open.sh</string>
				</dict>
				<key>Xcode.Alert.ShowNavigator</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>navigator</key>
					<string>Xcode.IDEKit.Navigator.Structure</string>
					<key>action</key>
					<integer>0</integer>
				</dict>
				<key>Xcode.Alert.ShowDebugger</key>
				<dict>
					<key>visibility</key>
					<integer>0</integer>
					<key>destination</key>
					<string>workspace</string>
					<key>enabled</key>
					<false/>
					<key>action</key>
					<string>show</string>
				</dict>
				<key>Xcode.Alert.Sound</key>
				<dict>
					<key>enabled</key>
					<false/>
					<key>soundPath</key>
					<string>/System/Library/Sounds/Sosumi.aiff</string>
				</dict>
				<key>Xcode.Alert.Bounce</key>
				<dict>
					<key>enabled</key>
					<false/>
				</dict>
			</dict>
			<key>identifier</key>
			<string>0893F9F0-BB75-4D78-BF76-395E6832C93E-16954-000099B472873CE8</string>
		</dict>
	</array>
</dict>
</plist>
